$dropdown_gradient_deg: -45deg;
$light_dropdown_gradient_color_1: #e8f7fd;
$light_dropdown_gradient_color_2: #bed0ee;
$dark_dropdown_gradient_color_1: #4a4e52;
$dark_dropdown_gradient_color_2: #1d2024;

.navbar-dropdown-menu {
  .dropdown-button {
    flex-direction: column;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e8f7fd;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: 0.3s ease-in-out;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      @include gradient-background(
        $dropdown_gradient_deg,
        $light_dropdown_gradient_color_1,
        $light_dropdown_gradient_color_2
      );
      transform: rotate(360deg);
      z-index: -100;
      transform: rotate(0deg);
      transition: 0.6s;
    }

    &.active {
      transform: scale(1.15);

      &::before {
        transform: rotate(360deg);
      }
    }

    .bar {
      display: inline-block;
      width: 15px;
      height: 2px;
      border-radius: 100px;
      background-color: #707070;
      margin-bottom: 2px;

      &.middle {
        width: 8px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .dropdown-items-container {
    position: absolute;
    right: 0;
    background-color: transparent;
    margin-top: 13px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;

    &.show {
      display: block;
      visibility: visible;
      opacity: 1;

      .dropdown-item {
        visibility: visible;
        opacity: 1;

        &:nth-child(1) {
          transform: translateX(0);
        }

        &:nth-child(2) {
          transform: translateX(0);
        }
        &:nth-child(3) {
          transform: translateX(0);
        }
      }
    }

    .dropdown-item {
      padding: 10px 20px;
      margin-bottom: 10px;
      opacity: 0;

      &:nth-child(1) {
        transform: translateX(50px);
        transition: 0.3s ease-in-out;
      }

      &:nth-child(2) {
        transform: translateX(40px);
        transition: 0.4s ease-in-out;
      }

      &:nth-child(3) {
        transform: translateX(40px);
        transition: 0.5s ease-in-out;
      }

      .item-bg-shape {
        @include drop-shadow(0px, 0px, 3px, rgba(0, 0, 0, 0.25));
        width: 100%;
        height: 100%;
      }

      .item-icon {
        width: 13px;
        margin-right: 5px;
        transition: 0.1s ease-in-out;
      }

      .item-text {
        white-space: nowrap;
        font-size: 13px;
        transition: 0.1s ease-in-out;
      }

      .mode-toggler {
        position: relative;
        margin-left: 9px;
        height: 24px;
        width: 40px;
        cursor: pointer;
        background-color: #e7f4f8;
        color: #1a1a1a;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        transition: 0.3s ease-in-out;

        &.dark-mode {
          background-color: #1a1a1a;
          color: #ffffff;
          border-color: rgba(255, 255, 255, 0.6);

          .mode-icon-container {
            right: 17px;
          }
        }

        .mode-icon-container {
          position: absolute;
          top: 50%;
          right: 3px;
          transform: translateY(-50%);
          width: 18px;
          height: 17px;
          background-color: #ffffff;
          border-radius: 50%;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
          transition: 0.3s ease-in-out;

          .mode-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 11px;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s ease-in-out;

            &.show {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.dark-theme {
    .dropdown-button {
      background: #000000;

      &::before {
        @include gradient-background(
          $dropdown_gradient_deg,
          $dark_dropdown_gradient_color_1,
          $dark_dropdown_gradient_color_2
        );
      }

      .bar {
        background-color: #ffffff;
      }
    }

    .dropdown-items-container {
      .dropdown-item {
        .item-icon {
          filter: invert(1);
        }

        .item-text {
          color: #fff;
        }
      }
    }
  }
}
