.auth-form-panel {
  width: 100%;
  margin: auto;

  // @include md-size {
  //   width: 400px;
  // }

  .logo-container {
    margin-bottom: 70px;
    .logo {
      width: 120px;
    }
  }

  .form-container {
    .input-container {
      position: relative;
      margin-bottom: 20px;

      input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #fff;
        border-radius: 20px;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.15);
        font-size: 12px;
        transition: 0.2s ease-in-out;

        &::placeholder {
          color: #fff;
        }

        &:focus {
          outline: none;
          border: 1px solid rgba(#f64d16, 0.8);
          background-color: rgba(#f64d16, 0.1);
        }
      }
      .input-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        padding: 2px 5px;

        img {
          width: 20px;
        }
        .hide-password {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 110%;
          height: 3px;
          background-color: #ffffff;
          transform-origin: center;
          transform: translate(-50%, -50%) rotate(-45deg);
          border-radius: 5px;
          box-shadow: 0px 1px 2px black;
        }
      }
    }
  }

  .guest-user-container,
  .redirect-link-container {
    margin-top: 5px;

    span {
      font-size: 12px;
      text-shadow: 1px 1px 2px #000;
    }

    .guest-user-btn,
    .redirect-link-link {
      padding: 5px 7px;
      font-size: 10px;
      background-color: #f64d16;
      color: #fff;
      border-radius: 5px;
      margin-left: 10px;
    }

    .redirect-link-link {
      font-size: 12px;
      padding: 5px 10px;
      white-space: nowrap;
    }
  }

  .guest-user-container {
    margin-bottom: 100px;
  }

  .bottom-section {
    padding-bottom: 45px;

    .submit-btn {
      padding: 15px;
      font-size: 18px;
      font-weight: bold;
      border: 3px solid #f47722;
      border-radius: 100px;
      color: #f47722;
      background-color: rgba(#f64d16, 0.2);
      margin-bottom: 20px;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      transition: 0.1s ease-in-out;

      &:focus {
        border: 3px solid #f64d16;
        color: #f64d16;
        letter-spacing: 1px;
      }
    }
  }
}
