.custom-transition {
  &.opacity {
    visibility: hidden;
    opacity: 0;
  }

  &.duration-300 {
    transition-duration: 0.3s;
  }

  &.duration-400 {
    transition-duration: 0.4s;
  }

  &.duration-500 {
    transition-duration: 0.5s;
  }

  &.from-top-1 {
    transform: translateY(-15px);
  }

  &.from-top-2 {
    transform: translateY(-30px);
  }

  &.from-top-3 {
    transform: translateY(-45px);
  }

  &.from-right-1 {
    transform: translateX(15px);
  }

  &.from-right-2 {
    transform: translateX(30px);
  }

  &.from-right-3 {
    transform: translateX(45px);
  }

  &.from-bottom-1 {
    transform: translateY(15px);
  }

  &.from-bottom-2 {
    transform: translateY(30px);
  }

  &.from-bottom-3 {
    transform: translateY(45px);
  }

  &.from-left-1 {
    transform: translateX(-15px);
  }

  &.from-left-2 {
    transform: translateX(-30px);
  }

  &.from-left-3 {
    transform: translateX(-45px);
  }

  &.delay-100 {
    transition-delay: 0.1s;
  }

  &.delay-200 {
    transition-delay: 0.2s;
  }

  &.delay-300 {
    transition-delay: 0.3s;
  }

  &.delay-400 {
    transition-delay: 0.4s;
  }

  &.delay-500 {
    transition-delay: 0.5s;
  }

  &.delay-600 {
    transition-delay: 0.6s;
  }

  &.delay-700 {
    transition-delay: 0.7s;
  }

  &.clear-transition {
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
  }
}
