$secondary_color: #fa2600;
$light_theme_bg: linear-gradient(
  45deg,
  rgba(237, 242, 250, 1) 0%,
  rgba(220, 231, 247, 1) 100%
);
$light_theme_primary_text_color: #1a1a1a;

$dark_theme_bg: linear-gradient(45deg, #232629 0%, #1e2125 100%);
